{% extends 'base.html' %}

{% block title %}Give Get Green{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Give Get Green</h1>
                        <h4>a crowd sourced donation service <br>designed to promote the principles of reuse and recycling</h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg btn-landing"><span class="give-button">Give</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg btn-landing"><span class="get-button">Get</span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{#<div class="content-section-b">#}
{##}
{#    <div class="container">#}
{#        <h2>{{ some_dynamic_value }}</h2>#}
{##}
{#        <p>Our application will service all three of the Rs in various ways, primarily by connecting people who have objects they no longer need with those who might actually want them.An old cell phone, a television, some furniture, and a mattress are all commonly discarded items that could be extremely valuable to someone who either does not want or cannot afford new objects.</p></p>#}
{#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>#}
{#    </div>#}
{#</div>#}
{##}
{#<div class="container">#}
{#    <!-- Example row of columns -->#}
{#    <div class="row">#}
{#        <div class="col-md-4">#}
{#            <h2>Heading</h2>#}
{##}
{#            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>#}
{##}
{#            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#            <h2>Heading</h2>#}
{##}
{#            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>#}
{##}
{#            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#            <h2>Heading</h2>#}
{##}
{#            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>#}
{##}
{#            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#        </div>#}
{#    </div>#}

    <hr>
</div> <!-- /container -->
{% endblock %}