{% extends 'base.html' %}

{% block title %}Give Get Green{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ title }}</h1>
                        <h4>a crowd sourced donation service <br>designed to promote the principles of reuse and recycling</h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-buttons">
                            <li id="give-button">
                                <a href="#giveForm" class="btn btn-default btn-lg btn-landing"><span >Give</span></a>
                            </li>
                            <li id="get-button">
                                <a href="#searchForm" class="btn btn-default btn-lg btn-landing"><span>Get</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <div id="giveForm" class="Form">
        <button class="close"><a href="/home">×</a></button>
        <h1>Donation</h1>
        <small>Please submit details for your donated item(s)</small>
        <form action="/home" method="POST" id="giveform">{% csrf_token %}
            <input placeholder="Name" type="text" name="user_name" required />
            <input placeholder="Email" type="email" name="user_email" required />
            <input placeholder="Address" type="text" name="user_zipcode" required />
            <input placeholder="Phone (xxx-xxx-xxxx)" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" name="user_phone" required />
            <select class="form-control category-dropdown" name="user_item_category">
                <option selected disabled>Category</option>
                <option value="Miscellaneous">Miscellaneous</option>
                <option value="Appliance">Appliance</option>
                <option value="Bedding">Bedding</option>
                <option value="Toys">Toys</option>
                <option value="Books">Books</option>
                <option value="Clothing">Clothing</option>
                <option value="Seasonal">Seasonal</option>
                <option value="Electronics">Electronics</option>
                <option value="Household">Household</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Sports">Sports</option>
            </select>
            <input placeholder="Item" type="text" name="user_item" required />
            <textarea placeholder="Description" name="user_item_description" ></textarea>
            <input class="formBtn form-submit" name="submit-giveForm" type="submit" />
            <input class="formBtn" type="reset" />
        </form>
    </div>

    <div id="searchForm" class="Form">
        <button class="close"><a href="/home">×</a></button>
        <h1>Search</h1>
        <small>Please submit details for your searched item(s)</small>
        <form action="/add" method="POST"> {% csrf_token %}
            <select class="form-control category-dropdown" name="item_category">
                <option selected disabled>Category</option>
                <option value="Miscellaneous">Miscellaneous</option>
                <option value="Appliance">Appliance</option>
                <option value="Bedding">Bedding</option>
                <option value="Toys">Toys</option>
                <option value="Books">Books</option>
                <option value="Clothing">Clothing</option>
                <option value="Seasonal">Seasonal</option>
                <option value="Electronics">Electronics</option>
                <option value="Household">Household</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Sports">Sports</option>
            </select>
            <input placeholder="Item" type="text" name="search_item" required />
{#            <input placeholder="Email" type="email" name="user_email" required />#}
            <input placeholder="Address" type="text" name="user_address" required />
{#            <input placeholder="Phone (xxx-xxx-xxxx)" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" required />#}
            <input placeholder="Max Distance (miles)" type="number" name="distance"required />
{#            <input placeholder="Title" type="text" required />#}
{#            <textarea placeholder="Description"></textarea>#}
            <input class="formBtn form-submit" name="submit-searchForm" type="submit" value="submit"/>
            <input class="formBtn" type="reset" />
        </form>
    </div>


    <hr>
    </div>    <!-- /container -->



{% endblock %}
